@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);

.admin {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: url(/assets/admin_background.png) no-repeat center center fixed;
    background-size: cover;
    width: 100%;
}

.admin_header{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid lightgray;
    .header{
        margin: 0;
        width: 100px;
        height: 100px;

        border: 1px solid black;
        border-radius: 50%;

        text-align: center;

        &:before{
            content: "";
            display: block;
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }

    display: none;
}

.admin_navbar {
    .needs_list{
        border-bottom: 1px solid lightgray;
        padding-bottom: 10px;
        padding-top: 5px;
        
        ul{
            margin: 0;
            padding: 0;
            width: 100%;
            display: inline-flex;
            flex-wrap: nowrap;
            justify-content: space-around;
            list-style: none;

            li{
                font-weight: bold;
                font-size: .9rem;
                text-align: center;

                span{
                    display: block !important;
                    padding: 5px;
                    width: 100px;
                    height: 100px;
                    margin: 10px auto;
                    font-size: 3em;

                    border: 5px solid #7FA9AE;
                    border-radius: 74%;

                    color: white;

                    &:before{
                        content: "";
                        display: block;
                        padding-top: 8px;
                        padding-bottom: 8px;
                    }
                }
            }
        }
    }
    .percentile_slider{
        height: 30px;
        margin-top: 20px;
        padding-top: 10px;
        margin-bottom: 20px;

        .rangeslider-horizontal{
            width: 80%;
            margin: 0px auto;
        }
    }
}

.admin_main_view {
    flex: 1;
    min-height: 100vh;
}

.action-icon {
    margin: -9px;
}

.person-tile {
    cursor: pointer;
}

.admin_needs-list-item {
    cursor: pointer;
    color: white;
    color: #FFFFFF;
    font-family: "Roboto Mono";
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
}

.admin_needs-list-item img {
    height:  48px;
}
