.fabs-container {
  box-sizing: border-box;
  height: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.fabs {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0;
  &.visible {
    opacity: 1;
    transition: all 3s;
  }
}
.fabs-wrapper {
  position: absolute;
  background: rgba(140, 194, 201, 0.28);
  width: 21%;
  height: 76px;
  right: 3.5%;
  bottom: 19px;
  border-radius: 40px;
  transition: all 0.3s;
  &.open {
    transition: all 0.2s;
    width: 94%;
  }
}
.main-fab {
  background-image: url('assets/images/button-big.png');
  bottom: 20px;
  background-size: cover;
  border-radius: 50%;
  height: 70px;
  position: absolute;
  right: 17px;
  width: 70px;
  z-index: 2;
}
.fab-satellite {
  background-color: transparent;
  background-size: cover;
  border-radius: 50%;
  bottom: 30px;
  border: none;
  height: 50px;
  right: 27.5px;
  outline: none;
  position: absolute;
  transition: 0.5s cubic-bezier(.67, .02, .02, .97);
  width: 50px;
  z-index: 1;

  &:nth-of-type(1) {
    background-image: url('assets/images/stage-1.png');
    &.open {
      right: 91px;
    }
  }
  &:nth-of-type(2) {
    background-image: url('assets/images/stage-2.png');
    &.open {
      right: 145px;
    }
  }
  &:nth-of-type(3) {
    background-image: url('assets/images/stage-3.png');
    &.open {
      right: 199px;
    }
  }
  &:nth-of-type(4) {
    background-image: url('assets/images/stage-4.png');
    &.open {
      right: 251px;
    }
  }
  &:nth-of-type(5) {
    background-image: url('assets/images/stage-5.png');
    &.open {
      right: 304px;
    }
  }
  &.selected {
    &:after {
      content: "";
      background-color: transparent;
      border: 2px solid white;
      height: 52px;
      width: 52px;
      bottom: -1px;
      z-index: 40;
      left: -3px;
      position: absolute;
      border-radius: 50%;
      opacity: 0.15;
    }
  }
}
.severity-low {
  width: 44px;
  height: 44px;
  background-color: $color-severity-low;
}
.severity-moderate {
  width: 52px;
  height: 52px;
  background-color: $color-severity-moderate;
}
.severity-high {
  width: 60px;
  height: 60px;
  background-color: $color-severity-high;
}