.user {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 2px solid $primary-color;
  height: 100vh;
}
.display-container {
  border: 2px solid forestgreen;
  height: 67%;
  .user-display {
    height: 100%;
    border: 2px solid purple;
  }
}