.user {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 2px solid #AE2D30;
  height: 100vh; }

.display-container {
  border: 2px solid forestgreen;
  height: 67%; }
  .display-container .user-display {
    height: 100%;
    border: 2px solid purple; }

.fab-container {
  height: 33%;
  border: 2px solid tomato;
  position: relative; }
  .fab-container .fabs {
    position: relative;
    width: 100%;
    height: 100%; }
  .fab-container .main-fab {
    border: 2px solid #5B636A;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid red;
    position: absolute;
    right: 20px;
    bottom: 20px; }
  .fab-container .fab-satellite {
    width: 40px;
    height: 40px;
    position: absolute;
    border: 2px solid blue;
    border-radius: 50%; }
    .fab-container .fab-satellite:nth-of-type(1) {
      left: 0px; }
    .fab-container .fab-satellite:nth-of-type(2) {
      left: 50px; }
    .fab-container .fab-satellite:nth-of-type(3) {
      left: 100px; }
    .fab-container .fab-satellite:nth-of-type(4) {
      left: 150px; }
    .fab-container .fab-satellite:nth-of-type(5) {
      left: 200px; }
