@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0); }
  20%,
  80% {
    transform: translate3d(2px, 0, 0); }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0); }
  40%,
  60% {
    transform: translate3d(4px, 0, 0); } }

.user {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100vh; }

.landing-page {
  background-image: url("assets/images/background.png");
  display: flex;
  justify-content: center;
  align-items: center; }
  .landing-page img {
    opacity: 0;
    transition: all 4s; }
    .landing-page img.visible {
      opacity: 1;
      transition: all 4s; }

.modal {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s; }
  .modal img {
    max-width: 80%;
    height: auto;
    transition: all 0.5s;
    opacity: 0; }
    .modal img.visible {
      opacity: 1;
      transition: all 0.5s; }

.timestamp,
.location {
  position: absolute;
  left: 20px;
  top: 20px; }

.page-title {
  position: absolute;
  right: 20px;
  top: 0; }

.blue-circle {
  position: absolute;
  top: calc(50% - 162px);
  left: calc(50% - 162px); }

.display-container {
  height: 100%; }
  .display-container .user-display {
    height: 100%; }
  .display-container .display-physiological .needs-item {
    background-size: cover;
    background-color: transparent;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border: none;
    outline: none;
    bottom: 30px;
    right: 30px;
    transition: 0.5s cubic-bezier(1, -0.64, 0.56, 1.47); }
    .display-container .display-physiological .needs-item:nth-of-type(1) {
      background-image: url("assets/images/physiological/air-icon.png"); }
      .display-container .display-physiological .needs-item:nth-of-type(1).active {
        transform: translate(-250px, -110px); }
    .display-container .display-physiological .needs-item:nth-of-type(2) {
      background-image: url("assets/images/physiological/moon-icon.png"); }
      .display-container .display-physiological .needs-item:nth-of-type(2).active {
        transform: translate(-210px, -210px); }
    .display-container .display-physiological .needs-item:nth-of-type(3) {
      background-image: url("assets/images/physiological/heart-beat.png"); }
      .display-container .display-physiological .needs-item:nth-of-type(3).active {
        transform: translate(-240px, -340px); }
    .display-container .display-physiological .needs-item:nth-of-type(4) {
      background-image: url("assets/images/physiological/water-icon.png"); }
      .display-container .display-physiological .needs-item:nth-of-type(4).active {
        height: 70px;
        width: 70px;
        left: 60px;
        bottom: 470px;
        animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden; }
    .display-container .display-physiological .needs-item:nth-of-type(5) {
      background-image: url("assets/images/physiological/food-icon.png"); }
      .display-container .display-physiological .needs-item:nth-of-type(5).active {
        transform: translate(-20px, -500px); }
  .display-container .display-belonging .needs-item {
    background-size: cover;
    background-color: transparent;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border: none;
    outline: none;
    bottom: 30px;
    right: 30px;
    transition: 0.5s cubic-bezier(1, -0.64, 0.56, 1.47); }
    .display-container .display-belonging .needs-item:nth-of-type(1) {
      background-image: url("assets/images/belonging/green-picture.png"); }
      .display-container .display-belonging .needs-item:nth-of-type(1).active {
        transform: translate(-170px, -220px); }
    .display-container .display-belonging .needs-item:nth-of-type(2) {
      background-image: url("assets/images/belonging/yellow-picture.png"); }
      .display-container .display-belonging .needs-item:nth-of-type(2).active {
        transform: translate(-260px, -360px); }
    .display-container .display-belonging .needs-item:nth-of-type(3) {
      background-image: url("assets/images/belonging/red-picture.png"); }
      .display-container .display-belonging .needs-item:nth-of-type(3).active {
        height: 70px;
        width: 70px;
        left: 240px;
        bottom: 440px;
        transform: translate(-240px, -340px);
        animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden; }
    .display-container .display-belonging .needs-item:nth-of-type(4) {
      background-image: url("assets/images/belonging/golden-picture.png"); }
      .display-container .display-belonging .needs-item:nth-of-type(4).active {
        transform: translate(-20px, -190px); }

.fabs-container {
  box-sizing: border-box;
  height: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; }

.fabs {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0; }
  .fabs.visible {
    opacity: 1;
    transition: all 3s; }

.fabs-wrapper {
  position: absolute;
  background: rgba(140, 194, 201, 0.28);
  width: 21%;
  height: 76px;
  right: 3.5%;
  bottom: 19px;
  border-radius: 40px;
  transition: all 0.3s; }
  .fabs-wrapper.open {
    transition: all 0.2s;
    width: 94%; }

.main-fab {
  background-image: url("assets/images/button-big.png");
  bottom: 20px;
  background-size: cover;
  border-radius: 50%;
  height: 70px;
  position: absolute;
  right: 17px;
  width: 70px;
  z-index: 2; }

.fab-satellite {
  background-color: transparent;
  background-size: cover;
  border-radius: 50%;
  bottom: 30px;
  border: none;
  height: 50px;
  right: 27.5px;
  outline: none;
  position: absolute;
  transition: 0.5s cubic-bezier(0.67, 0.02, 0.02, 0.97);
  width: 50px;
  z-index: 1; }
  .fab-satellite:nth-of-type(1) {
    background-image: url("assets/images/stage-1.png"); }
    .fab-satellite:nth-of-type(1).open {
      right: 91px; }
  .fab-satellite:nth-of-type(2) {
    background-image: url("assets/images/stage-2.png"); }
    .fab-satellite:nth-of-type(2).open {
      right: 145px; }
  .fab-satellite:nth-of-type(3) {
    background-image: url("assets/images/stage-3.png"); }
    .fab-satellite:nth-of-type(3).open {
      right: 199px; }
  .fab-satellite:nth-of-type(4) {
    background-image: url("assets/images/stage-4.png"); }
    .fab-satellite:nth-of-type(4).open {
      right: 251px; }
  .fab-satellite:nth-of-type(5) {
    background-image: url("assets/images/stage-5.png"); }
    .fab-satellite:nth-of-type(5).open {
      right: 304px; }
  .fab-satellite.selected:after {
    content: "";
    background-color: transparent;
    border: 2px solid white;
    height: 52px;
    width: 52px;
    bottom: -1px;
    z-index: 40;
    left: -3px;
    position: absolute;
    border-radius: 50%;
    opacity: 0.15; }

.severity-low {
  width: 44px;
  height: 44px;
  background-color: rgba(253, 197, 0, 0.8); }

.severity-moderate {
  width: 52px;
  height: 52px;
  background-color: rgba(253, 140, 0, 0.8); }

.severity-high {
  width: 60px;
  height: 60px;
  background-color: rgba(220, 0, 0, 0.8); }

.display-physiological {
  background-image: url("assets/images/physiological/background-image.png"); }

.display-belonging {
  background-image: url("assets/images/belonging/background-image.png"); }
     

.admin {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.admin_header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid lightgray;
  display: none; }
  .admin_header .header {
    margin: 0;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center; }
    .admin_header .header:before {
      content: "";
      display: block;
      padding-top: 20px;
      padding-bottom: 20px; }

.admin_navbar .needs_list {
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px; }
  .admin_navbar .needs_list ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    list-style: none; }
    .admin_navbar .needs_list ul li {
      font-weight: bold;
      font-size: .9rem;
      text-align: center; }
      .admin_navbar .needs_list ul li span {
        display: block !important;
        padding: 5px;
        width: 100px;
        height: 100px;
        margin: 10px auto;
        font-size: 3em;
        border: 1px solid lightgray;
        border-radius: 50%;
        background-color: lightgray;
        color: white; }
        .admin_navbar .needs_list ul li span:before {
          content: "";
          display: block;
          padding-top: 12px;
          padding-bottom: 12px; }

.admin_navbar .percentile_slider {
  height: 30px;
  padding-top: 20px; }
  .admin_navbar .percentile_slider .rangeslider-horizontal {
    width: 80%;
    margin: 0px auto; }

.admin_main_view {
  flex: 1;
  min-height: 100vh;
  background-image: url("https://www.pixelstalk.net/wp-content/uploads/2016/06/Desktop-Matrix-HD-Wallpapers-Images-Download.jpg");
  background-repeat: repeat-y; }

.action-icon {
  margin: -9px; }

.person-tile {
  cursor: pointer; }

.admin_user {
  display: flex;
  align-items: center;
  min-height: 100vh;
  font-size: 16px;
  background-image: url("assets/images/background2x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left -100px; }
  .admin_user .admin_user_view {
    display: flex;
    flex-wrap: wrap; }
    .admin_user .admin_user_view .stat {
      width: 50%;
      text-align: center;
      margin-bottom: 80px; }
      .admin_user .admin_user_view .stat.low_stat {
        width: 60%;
        margin-left: auto; }
        .admin_user .admin_user_view .stat.low_stat .stat_level {
          margin-top: 10px;
          width: 160px;
          height: 160px; }
        .admin_user .admin_user_view .stat.low_stat .stat_label {
          margin-top: -120px; }
          .admin_user .admin_user_view .stat.low_stat .stat_label .stat_title {
            color: #D94152;
            font-size: 16px; }
          .admin_user .admin_user_view .stat.low_stat .stat_label .stat_info {
            font-size: 3em; }
      .admin_user .admin_user_view .stat .stat_level {
        width: 125px;
        height: 125px;
        margin: 0 auto;
        border-radius: 50%; }
      .admin_user .admin_user_view .stat .stat_label {
        margin-top: -90px; }
        .admin_user .admin_user_view .stat .stat_label .stat_title {
          color: #7DD2DB;
          font-size: 12px; }
        .admin_user .admin_user_view .stat .stat_label .stat_info {
          font-size: 2em;
          line-height: 1em;
          color: white; }
  .admin_user .admin_user_navbar {
    align-self: flex-start;
    padding-top: 30px;
    border-left: 1px solid white;
    min-height: 100vh;
    height: 100%;
    color: white;
    clear: both; }
    .admin_user .admin_user_navbar .user_info {
      text-align: center; }
      .admin_user .admin_user_navbar .user_info .user_avatar {
        background-image: url("assets/images/user_avatar.jpg");
        background-size: cover;
        width: 200px;
        height: 200px;
        margin: 0 auto;
        border-radius: 50%; }
      .admin_user .admin_user_navbar .user_info .user_name {
        margin-top: 10px;
        margin-bottom: 10px; }
      .admin_user .admin_user_navbar .user_info .user_age {
        margin-bottom: 10px; }
    .admin_user .admin_user_navbar .needs_list {
      margin-top: 30px; }
      .admin_user .admin_user_navbar .needs_list ul {
        margin: 0;
        padding: 0;
        list-style: none; }
        .admin_user .admin_user_navbar .needs_list ul li {
          width: 80%;
          margin: 0 auto;
          text-align: center;
          border: 1px solid;
          padding: 8px 10px;
          margin-bottom: 20px;
          border-radius: 20px;
          background-color: #7DD2DB;
          border-color: #7DD2DB;
          color: white;
          text-transform: uppercase; }
          .admin_user .admin_user_navbar .needs_list ul li.active {
            background-color: #D94152;
            border-color: #D94152;
            color: white;
            cursor: pointer; }
          .admin_user .admin_user_navbar .needs_list ul li span {
            display: none; }
